.contenedor {
  background-color: black;
}
header {
  background-color: rgb(193, 243, 117);
}
nav {
  background-color: rgb(233, 127, 127);
}
section {
  background-color: rgb(235, 235, 143);
}
aside {
  background-color: paleturquoise;
}
footer {
  background-color: rgb(245, 218, 64);
}
