.contenedor {
  background-color: black;
}
header {
  background-color: greenyellow;
}
nav {
  background-color: red;
}
section {
  background-color: yellow;
}
footer {
  background-color: gold;
}
